test/src/Cashlinx/Common/Service References/ProKnowService/Untitled.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://casham.com/esb/adapters/proknow/wsdl" xmlns:ns0="http://casham.com/esb/adapters/proknow" xmlns:ns2="http://casham.com/cim/common/common_business_objects" xmlns:ns1="http://casham.com/esb/common/services/standard_message_blocks" name="Untitled" targetNamespace="http://casham.com/esb/adapters/proknow/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:smb="http://casham.com/esb/common/services/standard_message_blocks" xmlns="http://casham.com/esb/adapters/proknow" xmlns:cbo="http://casham.com/cim/common/common_business_objects" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://casham.com/esb/adapters/proknow" version="1.00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://casham.com/cim/common/common_business_objects" />
      <xsd:import namespace="http://casham.com/esb/common/services/standard_message_blocks" />
      <xsd:complexType name="alternameManufacturerReplyType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element minOccurs="0" name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataReplyType">
                  <xsd:choice>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" ref="cbo:businessException" />
                    </xsd:sequence>
                    <xsd:sequence>
                      <xsd:element maxOccurs="unbounded" name="alternateManufacturer" type="ns0:manModType" />
                    </xsd:sequence>
                  </xsd:choice>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="alternateManufacturerRequestType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataRequestType">
                  <xsd:sequence>
                    <xsd:element name="manufacturer" type="xsd:string" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="categoryListType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="9" ref="ns0:childCat" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="categoryNodeType">
        <xsd:sequence>
          <xsd:element name="catCode" type="xsd:int" />
          <xsd:element name="catCode1" type="xsd:string" />
          <xsd:element name="catCode2" type="xsd:string" />
          <xsd:element name="catCode3" type="xsd:string" />
          <xsd:element name="catCode4" type="xsd:string" />
          <xsd:element name="catMaskPointer" type="xsd:int" />
          <xsd:element name="catComplete" type="xsd:string" />
          <xsd:element name="catAllowed" type="xsd:string" />
          <xsd:element name="catDescription" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="9" ref="ns0:childCat" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="combinationCategoryType">
        <xsd:sequence>
          <xsd:element name="secondaryManufacturer" type="xsd:int" />
          <xsd:element name="secondaryModel" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="featuresType">
        <xsd:sequence>
          <xsd:element name="categoryCode" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask1" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask2" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask3" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask4" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask5" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask6" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask7" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask8" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask9" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask10" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask11" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask12" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask13" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask14" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask15" type="xsd:int" />
          <xsd:element name="printFFIndicator" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="fixedFeatureType">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="answerNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="fixedFeaturesType">
        <xsd:sequence>
          <xsd:element name="printTag" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="feature" type="ns0:fixedFeatureType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getModelsReplyType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element minOccurs="0" name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataReplyType">
                  <xsd:choice>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" ref="cbo:businessException" />
                    </xsd:sequence>
                    <xsd:sequence>
                      <xsd:element maxOccurs="unbounded" name="model" type="ns0:manModType" />
                    </xsd:sequence>
                  </xsd:choice>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="getModelsRequestType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataRequestType">
                  <xsd:sequence>
                    <xsd:element name="manufacturer" type="xsd:string" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="groupOfValuesInputType">
        <xsd:sequence>
          <xsd:element name="responseKey" type="xsd:string" />
          <xsd:element name="categoryCode" type="xsd:int" />
          <xsd:element name="Manufacturer" type="xsd:string" />
          <xsd:element name="Model" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="groupOfValuesOutputType">
        <xsd:sequence>
          <xsd:element name="responseKey" type="xsd:string" />
          <xsd:element minOccurs="0" name="PKR1" type="xsd:double" />
          <xsd:element minOccurs="0" name="PKR2" type="xsd:double" />
          <xsd:element minOccurs="0" name="PKR3" type="xsd:double" />
          <xsd:element minOccurs="0" name="PKR4" type="xsd:double" />
          <xsd:element minOccurs="0" name="todaysNewRetail" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="groupOfValuesRequestType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataRequestType">
                  <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" name="groupOfValuesInput" type="ns0:groupOfValuesInputType" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="groupOfValuesType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element minOccurs="0" name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataReplyType">
                  <xsd:choice>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" ref="cbo:businessException" />
                    </xsd:sequence>
                    <xsd:sequence>
                      <xsd:element maxOccurs="unbounded" name="groupOfValuesOutput" type="ns0:groupOfValuesOutputType" />
                    </xsd:sequence>
                  </xsd:choice>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="manModType">
        <xsd:sequence>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="answerNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="manModelMatchType">
        <xsd:sequence>
          <xsd:element name="categoryCode" type="xsd:int" />
          <xsd:element minOccurs="0" name="combinationCategoryInfo" type="ns0:combinationCategoryType" />
          <xsd:element minOccurs="0" name="preAnswered" type="ns0:preAnsweredType" />
          <xsd:element minOccurs="0" name="fixedFeatures" type="ns0:fixedFeaturesType" />
          <xsd:element minOccurs="0" name="values1" type="ns0:valuesType" />
          <xsd:element minOccurs="0" name="values2" type="ns0:valuesType" />
          <xsd:element minOccurs="0" name="values3" type="ns0:valuesType" />
          <xsd:element minOccurs="0" name="values4" type="ns0:valuesType" />
          <xsd:element minOccurs="0" name="proCallData" type="ns0:proCallDataType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="manModelReplyType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element minOccurs="0" name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataReplyType">
                  <xsd:choice>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" ref="cbo:businessException" />
                    </xsd:sequence>
                    <xsd:sequence>
                      <xsd:element maxOccurs="unbounded" name="manModelMatch" type="ns0:manModelMatchType" />
                    </xsd:sequence>
                  </xsd:choice>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="manModelRequestType">
        <xsd:sequence>
          <xsd:element ref="smb:serviceInformation" />
          <xsd:element name="serviceData">
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="smb:serviceDataRequestType">
                  <xsd:sequence>
                    <xsd:element name="manufacturer" type="xsd:string" />
                    <xsd:element name="model" type="xsd:string" />
                  </xsd:sequence>
                </xsd:extension>
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="preAnsweredType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="mask1" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask2" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask3" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask4" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask5" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask6" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask7" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask8" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask9" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask10" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask11" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask12" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask13" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask14" type="xsd:int" />
          <xsd:element minOccurs="0" name="mask15" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="proCallDataType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="newRetail" type="xsd:string" />
          <xsd:element minOccurs="0" name="lastUpdateDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="yearIntroduced" type="xsd:string" />
          <xsd:element minOccurs="0" name="yearDiscontinued" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="valuesType">
        <xsd:sequence>
          <xsd:element name="loanAmount" type="xsd:double" />
          <xsd:element name="purchaseAmount" type="xsd:double" />
          <xsd:element name="retailAmount" type="xsd:double" />
          <xsd:element name="loanVarLow" type="xsd:double" />
          <xsd:element name="loanVarHigh" type="xsd:double" />
          <xsd:element name="purchaseVarLow" type="xsd:double" />
          <xsd:element name="purchaseVarHigh" type="xsd:double" />
          <xsd:element minOccurs="0" name="comment" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="alternameManufacturerReply" type="ns0:alternameManufacturerReplyType" />
      <xsd:element name="alternateManufacturerRequest" type="ns0:alternateManufacturerRequestType" />
      <xsd:element name="categoryList" type="ns0:categoryListType" />
      <xsd:element name="categoryNode" type="ns0:categoryNodeType" />
      <xsd:element name="childCat" type="ns0:categoryNodeType" />
      <xsd:element name="combinationCategoryInfo" type="ns0:combinationCategoryType" />
      <xsd:element name="features" type="ns0:featuresType" />
      <xsd:element name="fixedFeature" type="ns0:fixedFeatureType" />
      <xsd:element name="fixedFeatures" type="ns0:fixedFeaturesType" />
      <xsd:element name="getModelsReply" type="ns0:getModelsReplyType" />
      <xsd:element name="getModelsRequest" type="ns0:getModelsRequestType" />
      <xsd:element name="groupOfValuesInput" type="ns0:groupOfValuesInputType" />
      <xsd:element name="groupOfValuesOutput" type="ns0:groupOfValuesOutputType" />
      <xsd:element name="groupOfValuesReply" type="ns0:groupOfValuesType" />
      <xsd:element name="groupOfValuesRequest" type="ns0:groupOfValuesRequestType" />
      <xsd:element name="manModelMatch" type="ns0:manModelMatchType" />
      <xsd:element name="manModelReply" type="ns0:manModelReplyType" />
      <xsd:element name="manModelRequest" type="ns0:manModelRequestType" />
      <xsd:element name="manufacturer" type="ns0:manModType" />
      <xsd:element name="model" type="ns0:manModType" />
      <xsd:element name="preAnswered" type="ns0:preAnsweredType" />
      <xsd:element name="proCallData" type="ns0:proCallDataType" />
      <xsd:element name="values" type="ns0:valuesType" />
    </xsd:schema>
    <xsd:schema xmlns="http://casham.com/esb/common/services/standard_message_blocks" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://casham.com/esb/common/services/standard_message_blocks" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="endpointType">
        <xsd:sequence>
          <xsd:element name="systemId" type="xsd:string" />
          <xsd:element name="systemName" type="xsd:string" />
          <xsd:element minOccurs="0" name="systemVersion" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="exceptionMessageType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="exceptionCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="sourceMessage" type="xsd:string" />
          <xsd:element minOccurs="0" name="subject" type="xsd:string" />
          <xsd:element minOccurs="0" name="dateTimestamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="note" type="xsd:string" />
          <xsd:element minOccurs="0" name="origination" type="ns1:endpointType" />
          <xsd:element minOccurs="0" name="common" type="ns1:endpointType" />
          <xsd:element minOccurs="0" name="destination" type="ns1:endpointType" />
          <xsd:element minOccurs="0" name="convertionId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="userDefinedElements" type="ns1:userDefinedElementType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="serviceDataReplyType" abstract="true" />
      <xsd:complexType name="serviceDataRequestType" abstract="true" />
      <xsd:complexType name="serviceInformationType">
        <xsd:sequence>
          <xsd:element name="domain" type="xsd:string" />
          <xsd:element minOccurs="0" name="source" type="ns1:endpointType" />
          <xsd:element name="shopNumber" type="xsd:string" />
          <xsd:element name="terminalID" type="xsd:string" />
          <xsd:element name="userID" type="xsd:string" />
          <xsd:element name="transactionID" type="xsd:string" />
          <xsd:element name="timeStamp" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="status" type="ns1:exceptionMessageType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="userDefinedElementType">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="exceptionMessage" type="ns1:exceptionMessageType" />
      <xsd:element name="serviceInformation" type="ns1:serviceInformationType" />
    </xsd:schema>
    <xsd:schema xmlns="http://casham.com/cim/common/common_business_objects" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://casham.com/cim/common/common_business_objects" version="1.00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation xml:lang="en">
			This Schema defines common CIM objects
			Change some data for Clearcase

			Changes
			05/07/2008	David Schoman	version 1.3
					changed checkNumber from xsd:int to xsd:string.
		</xsd:documentation>
        <xsd:appinfo>Business Tranformation</xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType name="accountStyleType">
        <xsd:sequence>
          <xsd:element name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Checking" />
                <xsd:enumeration value="Saving" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="accountNumber" type="xsd:string" />
          <xsd:element name="routingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" name="status" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="addressType">
        <xsd:sequence>
          <xsd:element name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="PHYSICAL" />
                <xsd:enumeration value="MAIL" />
                <xsd:enumeration value="WORK" />
                <xsd:enumeration value="OTHER" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="street" type="xsd:string" />
          <xsd:element minOccurs="0" name="unit" type="xsd:string" />
          <xsd:element minOccurs="0" name="city" type="xsd:string" />
          <xsd:element minOccurs="0" name="state" type="xsd:string" />
          <xsd:element minOccurs="0" name="postalCode" type="ns2:postalCodeType" />
          <xsd:element minOccurs="0" name="country" type="xsd:string" />
          <xsd:element minOccurs="0" name="notes" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="authenticationResultType">
        <xsd:sequence>
          <xsd:element name="authenticated" type="xsd:boolean" />
          <xsd:element name="authenticationStatus" type="ns2:authenticationStatusType" />
          <xsd:element ref="ns2:user" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="authenticationStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AUTHENTICATED" />
          <xsd:enumeration value="INVALID_CREDENTIALS" />
          <xsd:enumeration value="ACCOUNT_LOCKED" />
          <xsd:enumeration value="PASSWORD_RESET" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="bankAccountType">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="address" type="ns2:addressType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="phone" type="ns2:phoneType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="contact" type="ns2:businessContactType" />
          <xsd:element maxOccurs="unbounded" name="account" type="ns2:accountStyleType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="notes" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="businessContactType">
        <xsd:sequence>
          <xsd:element name="name" type="ns2:nameType" />
          <xsd:element name="phone" type="ns2:phoneType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="businessExceptionType">
        <xsd:sequence>
          <xsd:element name="responseCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="message" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="changeTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Add" />
          <xsd:enumeration value="Update" />
          <xsd:enumeration value="Delete" />
          <xsd:enumeration value="Inactivate" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="checkInformationType">
        <xsd:sequence>
          <xsd:element name="routingNumber" type="xsd:string" />
          <xsd:element name="accountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="micr" type="ns2:micrType" />
          <xsd:element name="checkNumber" type="xsd:string" />
          <xsd:element name="date" type="ns2:threePartDateType" />
          <xsd:element name="payToTheOrderOf" type="xsd:string" />
          <xsd:element name="amount" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="contactPermissionsType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="preferredContactMethod">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="mail" />
                <xsd:enumeration value="email" />
                <xsd:enumeration value="phone" />
                <xsd:enumeration value="fax" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="preferredCallTime" type="xsd:string" />
          <xsd:element minOccurs="0" name="allowMail">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="allowEmail">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="allowPhone">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="allowFax">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="optOut">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="howDidYouHearAboutUs" type="xsd:string" />
          <xsd:element minOccurs="0" name="receivedPromotionalBonus">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customerNotesType">
        <xsd:sequence>
          <xsd:element name="customerID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="note">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="noteSequence" type="xsd:int" />
                <xsd:element name="noteDate" type="xsd:dateTime" />
                <xsd:element name="noteData" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customerStatusType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="creationDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="active">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="bankrupted">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
                <xsd:enumeration value="Planned" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="bankruptcyDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="deceased">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="blocked">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="maritalStatus">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Single" />
                <xsd:enumeration value="Married" />
                <xsd:enumeration value="Separated" />
                <xsd:enumeration value="Divorced" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="verificationDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="verificationExpirationDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="currentAddressYears" type="xsd:int" />
          <xsd:element minOccurs="0" name="currentAddressMonths" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customerType">
        <xsd:sequence>
          <xsd:element name="customerReferenceNumber" type="xsd:string" />
          <xsd:element name="previousCustomerFlag" type="ns2:yesNoType" />
          <xsd:element name="name" type="ns2:nameType" />
          <xsd:element maxOccurs="unbounded" name="address" type="ns2:addressType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="phone" type="ns2:phoneType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="eMail" type="ns2:eMailType" />
          <xsd:element name="dateOfBirth" type="ns2:threePartDateType" />
          <xsd:element maxOccurs="unbounded" name="identification" type="ns2:identificationType" />
          <xsd:element minOccurs="0" name="financialInformation" type="ns2:financialInfoType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="employer" type="ns2:employerType" />
          <xsd:element minOccurs="0" name="military" type="ns2:militaryType" />
          <xsd:element minOccurs="0" name="contactPermissions" type="ns2:contactPermissionsType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="reference" type="ns2:referenceType" />
          <xsd:element minOccurs="0" name="status" type="ns2:customerStatusType" />
          <xsd:element minOccurs="0" name="physicalAttribute" type="ns2:physicalAttributeType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="eMailType">
        <xsd:sequence>
          <xsd:element name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="PRIMARY" />
                <xsd:enumeration value="WORK" />
                <xsd:enumeration value="ALTERNATE" />
                <xsd:enumeration value="ALTERNATE2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="account" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="employeeType">
        <xsd:sequence>
          <xsd:element name="employeeNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="employeeName" type="ns2:nameType" />
          <xsd:element minOccurs="0" name="organizationName" type="xsd:string" />
          <xsd:element minOccurs="0" name="businessUnitName" type="xsd:string" />
          <xsd:element minOccurs="0" name="employeeLocation" type="xsd:string" />
          <xsd:element minOccurs="0" name="socialSecurityNumber" type="ns2:identificationType" />
          <xsd:element minOccurs="0" name="lastUpdatedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="lastUpdatedBy" type="xsd:string" />
          <xsd:element minOccurs="0" name="demographics">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="dateOfBirth" type="xsd:date" />
                <xsd:element minOccurs="0" name="maritalStatus" type="ns2:maritalStatusType" />
                <xsd:element minOccurs="0" name="employeeRace" type="xsd:string" />
                <xsd:element minOccurs="0" name="employeeSex" type="ns2:sexType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="employment">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="jobTitle" type="xsd:string" />
                <xsd:element minOccurs="0" name="jobCode" type="xsd:string" />
                <xsd:element minOccurs="0" name="userRole" type="xsd:string" />
                <xsd:element minOccurs="0" name="securityGroupID" type="xsd:string" />
                <xsd:element minOccurs="0" name="hireDate" type="xsd:date" />
                <xsd:element minOccurs="0" name="firstDateWorked" type="xsd:date" />
                <xsd:element minOccurs="0" name="lastDateWorked" type="xsd:date" />
                <xsd:element minOccurs="0" name="terminationDate" type="xsd:date" />
                <xsd:element minOccurs="0" name="availableVacation" type="xsd:int" />
                <xsd:element minOccurs="0" name="availableSick" type="xsd:int" />
                <xsd:element minOccurs="0" name="grantedVacationTime" type="xsd:int" />
                <xsd:element minOccurs="0" name="grantedSickTime" type="xsd:int" />
                <xsd:element minOccurs="0" name="usedVacationTime" type="xsd:int" />
                <xsd:element minOccurs="0" name="usedSickTime" type="xsd:int" />
                <xsd:element minOccurs="0" name="payType" type="xsd:string" />
                <xsd:element minOccurs="0" name="hireStatus">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="regularOrTemporary">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="REGULAR" />
                            <xsd:enumeration value="TEMPORARY" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="parttimeOrFulltime">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="FULL-TIME" />
                            <xsd:enumeration value="PART-TIME" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" name="employeeStatus">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="NEW HIRE" />
                      <xsd:enumeration value="TERMINATION" />
                      <xsd:enumeration value="DEMOTED" />
                      <xsd:enumeration value="PROMOTED" />
                      <xsd:enumeration value="TRANSFER" />
                      <xsd:enumeration value="OTHER" />
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="0" name="rehire" type="ns2:yesNoType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="contactInformation">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="agentPhoneNumber" type="ns2:phoneType" />
                <xsd:element minOccurs="0" name="cellPhoneNumber" type="ns2:phoneType" />
                <xsd:element minOccurs="0" name="residenceAddress" type="ns2:addressType" />
                <xsd:element minOccurs="0" name="residencePhoneNumber" type="ns2:phoneType" />
                <xsd:element minOccurs="0" name="agentEmailAddress" type="ns2:eMailType" />
                <xsd:element minOccurs="0" name="managerID" type="xsd:string" />
                <xsd:element minOccurs="0" name="emergencyContactName" type="ns2:nameType" />
                <xsd:element minOccurs="0" name="emergencyContactRelationship" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="manager">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="managerEmailAddress" type="ns2:eMailType" />
                <xsd:element minOccurs="0" name="managerEmployeeNumber" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="location">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="homeStoreNumber" type="xsd:string" />
                <xsd:element minOccurs="0" name="tillNumber" type="xsd:string" />
                <xsd:element minOccurs="0" name="transferStoreNumber" type="xsd:string" />
                <xsd:element minOccurs="0" name="transferStartDate" type="ns2:threePartDateType" />
                <xsd:element minOccurs="0" name="transferEndDate" type="ns2:threePartDateType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="employerType">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="address" type="ns2:addressType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="phone" type="ns2:phoneType" />
          <xsd:element minOccurs="0" name="jobTitle" type="xsd:string" />
          <xsd:element minOccurs="0" name="startDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="supervisor" type="ns2:businessContactType" />
          <xsd:element minOccurs="0" name="paySchedule">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Weekly" />
                <xsd:enumeration value="BiWeekly" />
                <xsd:enumeration value="SemiMonthly" />
                <xsd:enumeration value="Monthly" />
                <xsd:enumeration value="MonthDay" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="payWeeklyDay" type="xsd:string" />
          <xsd:element minOccurs="0" name="payBiWeeklyDay" type="xsd:string" />
          <xsd:element minOccurs="0" name="paySemiMonthlyDate1" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="paySemiMonthlyDate2" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="payMonthlyDay" type="xsd:string" />
          <xsd:element minOccurs="0" name="payMonthDayWeek" type="xsd:string" />
          <xsd:element minOccurs="0" name="payMonthDayDay" type="xsd:string" />
          <xsd:element minOccurs="0" name="lastPaidDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="netPaycheckAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="directDeposit">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="yearToDateAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="currentEmployerYears" type="xsd:int" />
          <xsd:element minOccurs="0" name="currentEmployerMonths" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="feeType">
        <xsd:sequence>
          <xsd:element name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="ADVANCE" />
                <xsd:enumeration value="OTHER" />
                <xsd:enumeration value="RETURN" />
                <xsd:enumeration value="REPAYMENT" />
                <xsd:enumeration value="PLAN" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="amount" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="financialInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="bankInformation" type="ns2:bankAccountType" />
          <xsd:element minOccurs="0" name="rentOrOwn">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Rent" />
                <xsd:enumeration value="Own" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="payrollGarnishment">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="monthlyRent" type="xsd:double" />
          <xsd:element minOccurs="0" name="monthlyIncome" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="fourDigitYearType">
        <xsd:restriction base="xsd:int">
          <xsd:minExclusive value="999" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="identificationType">
        <xsd:sequence>
          <xsd:element name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="SSN" />
                <xsd:enumeration value="DL" />
                <xsd:enumeration value="PPORT" />
                <xsd:enumeration value="STID" />
                <xsd:enumeration value="ALIEN" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="issuer" type="xsd:string" />
          <xsd:element name="number" type="xsd:string" />
          <xsd:element minOccurs="0" name="yearIssued" type="ns2:fourDigitYearType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="maritalStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MARRIED" />
          <xsd:enumeration value="SINGLE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="micrType">
        <xsd:sequence>
          <xsd:element name="micrType" type="xsd:string" />
          <xsd:element name="micrData" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="militaryType">
        <xsd:sequence>
          <xsd:element name="commanderName" type="ns2:nameType" />
          <xsd:element name="commanderAddress" type="ns2:addressType" />
          <xsd:element name="stationedLocal">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Yes" />
                <xsd:enumeration value="No" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="nameType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="title" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element minOccurs="0" name="middleName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element minOccurs="0" name="suffix" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="otherIncomeType">
        <xsd:sequence>
          <xsd:element name="source" type="xsd:string" />
          <xsd:element minOccurs="0" name="frequency">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Weekly" />
                <xsd:enumeration value="BiWeekly" />
                <xsd:enumeration value="SemiWeekly" />
                <xsd:enumeration value="Monthly" />
                <xsd:enumeration value="MonthDay" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="lastPaidDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="grossAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="netAmount" type="xsd:double" />
          <xsd:element minOccurs="0" name="yearToDateAmount" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="paymentMethodType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CASH" />
          <xsd:enumeration value="CHECK" />
          <xsd:enumeration value="ACH" />
          <xsd:enumeration value="ADMINISTRATIVE" />
          <xsd:enumeration value="BAD_DEBT" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="paymentType">
        <xsd:sequence>
          <xsd:element name="method" type="ns2:paymentMethodType" />
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" name="number" type="xsd:string" />
          <xsd:element minOccurs="0" name="paymentDate" type="ns2:threePartDateType" />
          <xsd:element minOccurs="0" name="postDate" type="ns2:threePartDateType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="phoneType">
        <xsd:sequence>
          <xsd:element name="type">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="HOME" />
                <xsd:enumeration value="WORK" />
                <xsd:enumeration value="MOBILE" />
                <xsd:enumeration value="FAX" />
                <xsd:enumeration value="PAGER" />
                <xsd:enumeration value="OTHER" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="countryCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="areaCode" type="xsd:string" />
          <xsd:element name="number" type="xsd:string" />
          <xsd:element minOccurs="0" name="extension" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="physicalAttributeType">
        <xsd:sequence>
          <xsd:element name="gender">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Male" />
                <xsd:enumeration value="Female" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="race" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="postalCodeType">
        <xsd:sequence>
          <xsd:element name="zipCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="zipPlus" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="productTypeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="PaydayLoan" />
          <xsd:enumeration value="CheckCashing" />
          <xsd:enumeration value="Pawn" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="referenceType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="referenceRelationship" type="xsd:string" />
          <xsd:element minOccurs="0" name="name" type="ns2:nameType" />
          <xsd:element minOccurs="0" name="phone" type="ns2:phoneType" />
          <xsd:element minOccurs="0" name="address" type="ns2:addressType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="sexType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="MALE" />
          <xsd:enumeration value="FEMALE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="threePartDateType">
        <xsd:sequence>
          <xsd:element name="month" type="xsd:int" />
          <xsd:element name="day" type="xsd:int" />
          <xsd:element name="year" type="ns2:fourDigitYearType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="userCredentialsType">
        <xsd:sequence>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element minOccurs="0" name="employeeNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="employeeName" type="ns2:nameType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="userType">
        <xsd:sequence>
          <xsd:element name="username" type="xsd:string" />
          <xsd:element minOccurs="0" name="employeeNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="employeeName" type="ns2:nameType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="vendorLogonType">
        <xsd:sequence>
          <xsd:element name="merchantID" type="xsd:string" />
          <xsd:element name="passcode" type="xsd:string" />
          <xsd:element minOccurs="0" name="secondaryID" type="xsd:string" />
          <xsd:element minOccurs="0" name="secondaryPasscode" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="yesNoType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Yes" />
          <xsd:enumeration value="No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="accountStyle" type="ns2:accountStyleType" />
      <xsd:element name="address" type="ns2:addressType" />
      <xsd:element name="authenticationResult" type="ns2:authenticationResultType" />
      <xsd:element name="bankAccount" type="ns2:bankAccountType" />
      <xsd:element name="businessContact" type="ns2:businessContactType" />
      <xsd:element name="businessException" type="ns2:businessExceptionType" />
      <xsd:element name="changeType" type="ns2:changeTypeType" />
      <xsd:element name="checkInformation" type="ns2:checkInformationType" />
      <xsd:element name="contactPermissions" type="ns2:contactPermissionsType" />
      <xsd:element name="customer" type="ns2:customerType" />
      <xsd:element name="customerNotes" type="ns2:customerNotesType" />
      <xsd:element name="customerStatus" type="ns2:customerStatusType" />
      <xsd:element name="eMail" type="ns2:eMailType" />
      <xsd:element name="employee" type="ns2:employeeType" />
      <xsd:element name="employer" type="ns2:employerType" />
      <xsd:element name="fee" type="ns2:feeType" />
      <xsd:element name="financialInfo" type="ns2:financialInfoType" />
      <xsd:element name="identification" type="ns2:identificationType" />
      <xsd:element name="maritalStatus" type="ns2:maritalStatusType" />
      <xsd:element name="micr" type="ns2:micrType" />
      <xsd:element name="military" type="ns2:militaryType" />
      <xsd:element name="name" type="ns2:nameType" />
      <xsd:element name="otherIncome" type="ns2:otherIncomeType" />
      <xsd:element name="payment" type="ns2:paymentType" />
      <xsd:element name="phone" type="ns2:phoneType" />
      <xsd:element name="physicalAttribute" type="ns2:physicalAttributeType" />
      <xsd:element name="postalCode" type="ns2:postalCodeType" />
      <xsd:element name="productType" type="ns2:productTypeType" />
      <xsd:element name="reference" type="ns2:referenceType" />
      <xsd:element name="sex" type="ns2:sexType" />
      <xsd:element name="threePartDate" type="ns2:threePartDateType" />
      <xsd:element name="user" type="ns2:userType" />
      <xsd:element name="userCredentials" type="ns2:userCredentialsType" />
      <xsd:element name="vendorLogon" type="ns2:vendorLogonType" />
      <xsd:element name="yesNo" type="ns2:yesNoType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="alternateManufacturerRequestMessage">
    <wsdl:part name="alternateManufacturerRequest" element="ns0:alternateManufacturerRequest" />
  </wsdl:message>
  <wsdl:message name="alternateManufacturerReplyMessage">
    <wsdl:part name="alternateManufacturerReply" element="ns0:alternameManufacturerReply" />
  </wsdl:message>
  <wsdl:message name="getModelsRequestMessage">
    <wsdl:part name="getModelsRequest" element="ns0:getModelsRequest" />
  </wsdl:message>
  <wsdl:message name="getModelsReplyMessage">
    <wsdl:part name="getModelsReply" element="ns0:getModelsReply" />
  </wsdl:message>
  <wsdl:message name="groupOfValuesRequestMessage">
    <wsdl:part name="groupOfValuesRequest" element="ns0:groupOfValuesRequest" />
  </wsdl:message>
  <wsdl:message name="groupOfValuesReplyMessage">
    <wsdl:part name="groupOfValuesReply" element="ns0:groupOfValuesReply" />
  </wsdl:message>
  <wsdl:message name="manModelRequestMessage">
    <wsdl:part name="manModelRequest" element="ns0:manModelRequest" />
  </wsdl:message>
  <wsdl:message name="manModelReplyMessage">
    <wsdl:part name="manModelReply" element="ns0:manModelReply" />
  </wsdl:message>
  <wsdl:portType name="proknowPort">
    <wsdl:operation name="GetAlternateManufacturers">
      <wsdl:input message="tns:alternateManufacturerRequestMessage" />
      <wsdl:output message="tns:alternateManufacturerReplyMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <wsdl:input message="tns:getModelsRequestMessage" />
      <wsdl:output message="tns:getModelsReplyMessage" />
    </wsdl:operation>
    <wsdl:operation name="GroupOfValues">
      <wsdl:input message="tns:groupOfValuesRequestMessage" />
      <wsdl:output message="tns:groupOfValuesReplyMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProknowDetails">
      <wsdl:input message="tns:manModelRequestMessage" />
      <wsdl:output message="tns:manModelReplyMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="proknowPortEndpointBinding" type="tns:proknowPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAlternateManufacturers">
      <soap:operation soapAction="/BusinessProcesses/StarterProcesses/ProKnowAdapterService.serviceagent//GetAlternateManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="alternateManufacturerRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="alternateManufacturerReply" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <soap:operation soapAction="/BusinessProcesses/StarterProcesses/ProKnowAdapterService.serviceagent/proknowPortEndpoint1/GetModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="getModelsRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="getModelsReply" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupOfValues">
      <soap:operation soapAction="/BusinessProcesses/StarterProcesses/ProKnowAdapterService.serviceagent//GroupOfValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="groupOfValuesRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="groupOfValuesReply" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProknowDetails">
      <soap:operation soapAction="/BusinessProcesses/StarterProcesses/ProKnowAdapterService.serviceagent/proknowPortEndpoint1/GetProknowDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="manModelRequest" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="manModelReply" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProKnowAdapterService.serviceagent">
    <wsdl:port name="proknowPortEndpoint" binding="tns:proknowPortEndpointBinding">
      <soap:address location="http://cashtrain2:60115/BusinessProcesses/StarterProcesses/ProKnowAdapterService.serviceagent/proknowPortEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>